
week_1_intro/.ipynb_checkpoints/

week_2_regression/.ipynb_checkpoints/

week_1_intro/notebooks/.ipynb_checkpoints/

additional_topics/.ipynb_checkpoints/

week_3_classification/.ipynb_checkpoints/

week_4_evaluation_metrics/.ipynb_checkpoints/

week_5_deployment/.ipynb_checkpoints/

week_6_trees/.ipynb_checkpoints/

week_9_serverless/__pycache__/

week_9_serverless/.ipynb_checkpoints/

week_8_deep_learning/dataset/

week_8_deep_learning/clothing-dataset-small/

week_8_deep_learning/clothing-dataset-small-master.zip

week_8_deep_learning/.ipynb_checkpoints/
